/*content for the #home viewport*/
			#headcircle{
				background-color:#EFC94C;

				margin-left:auto;
				margin-right:auto;
				top:50%;
				margin-top:-200px;

				width:400px;
				height:400px;
				border-radius:400px;

				position:relative;
			}

			#headcircle > h1{
				text-align:center;

				font-family:Raleway;
				font-weight:400;
				color:#2b2b2b;

				position:relative;
				top:50%;
			}

			#headcircle >p{
				text-align:center;

				font-family:Raleway;
				font-weight:400;
				color:#2b2b2b;


				position:relative;
				top:50%;
			}


			.spinarm{
				position:absolute;
				left:50%;
				margin-left:-60px;

				width:120px;
				height:100%;

				transition: transform 0.75s;
				-webkit-transition: -webkit-transform 0.75s;
			}

			.spinarm.sheathed{
				transform:rotate(-90deg);
				-ms-transform:rotate(-90deg);
				-webkit-transform:rotate(-90deg);
			}

			.spinarm.sheathed .linkcircle{
				opacity:0;
			}

			.spinarm.revealed .linkcircle{
				opacity:1;
			}

			#one.spinarm.revealed{
				transform:rotate(50deg);
				-ms-transform:rotate(50deg);
				-webkit-transform:rotate(50deg);
			}
			#two.spinarm.revealed{
				transform:rotate(0deg);
				-ms-transform:rotate(0deg);
				-webkit-transform:rotate(0deg);
			}
			#three.spinarm.revealed{
				transform:rotate(-50deg);
				-ms-transform:rotate(-50deg);
				-webkit-transform:rotate(-50deg);
			}

			#one.spinarm.revealed .linkcircle{
				transform:rotate(-50deg);
				-ms-transform:rotate(-50deg);
				-webkit-transform:rotate(-50deg);
			}
			#three.spinarm.revealed .linkcircle{
				transform:rotate(50deg);
				-ms-transform:rotate(50deg);
				-webkit-transform:rotate(50deg);
			}


			#one .linkcircle{
				background-color:#334D5C;
			}
			#two .linkcircle{
				background-color:#45B29D;
			}
			#three .linkcircle{
				background-color:#E27A3F;
			}
			#four .linkcircle{
				background-color:#DF5A49;
			}
			#five .linkcircle{
				background-color:#4c4c4c;
			}
			/*end content for the home viewport */
