<!DOCTYPE html>
<html>
<head>
  <title>maxwell huang-hobbs</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script>
    document.write('<link rel="stylesheet" type="text/css" href="css/projects-withscript.css">')
  </script>
  <noscript>
    <link rel="stylesheet" type="text/css" href="css/projects-noscript.css">
  </noscript>

  <link rel="stylesheet" type="text/css" href="assets/font-awesome-4.5.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="assets/minimo/minimo.css">
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=480">

</head>
<body>
  <nav id="site-nav">
    <a class="narcissism nav-link" data-scroll-time=200 href="#about">
      <p class="big">maxwell huang-hobbs
      </p>
      <p class="tiny">max</p>
    </a>
    <a class="nav-link" 
       data-scroll-time=200 
       href="#about">about</a>
    <a class="nav-link" 
       data-scroll-time=200 
       href="#projects">projects</a>
    <a class="nav-link" 
       data-scroll-time=200 
       href="#resume">resume</a>
  </nav>
  
  <div id="about">
      <img src="img/me.jpg" />
      <h1>Hi, I'm Max</h1>
      <p>
       I make software and dumb jokes.
      </p>
      <nav class="link-list">
        <a href="https://www.github.com/Adjective-Object"><i class="fa fa-github"></i> github</a>
        
        <a href="http://www.huang-hobbs.co/blog"><i class="fa fa-dot-circle-o"></i> blog</a>

        <a href="mailto:mhuan13@gmail.com"><i class="fa fa-envelope"></i> email</a>
      </nav>
  </div>


  <div id="projects">
      <h1 id="project-title-text">Projects</h1>
      <ul id="project-list">
        
        <a id="clear-project-link" href="#clear-project">
        <i class="fa fa-arrow-left"></i> back to projects
        </a>

          <li class="proj" id="proj-xgcm">
            <h2>xgcm</h2>
            <p>
              template tool with lua scripting
            </p>

            <div class="detailed-description">
              <p>
                xgcm is a templating tool / language meant to
                be used as a configuration file manager.
              </p>
              <p>
                It uses an ini-based data declaration format, with
                embedded lua scripting for data preprocessing.
              </p>  
            </div>

            <a class="repo-link" href="https://www.github.com/adjective-object/xgcm">
              <i class="fa fa-github"></i> Github Repo
            </a>
            <a class="proj-link" href="#project-xgcm"></a>

            <div class="img" 
                 style="background-image:url('img/placeholder_archer.jpg');"></div>
          </li>
        
          <li class="proj" id="proj-wardscore">
            <h2>wardscore</h2>
            <p>
              League of Legends player statistics
            </p>

            <div class="detailed-description">
              <p>
                Wardscore is a tool to track player's
                warding in  
                <a href="http://leagueoflegends.com/">League of Legends</a>.
              </p>  
              <p>
                It has over [[ NUMBER ]] unique users to date
              </p>  
            </div>

            <a class="repo-link" href="http://wardscore.loltools.net/">
              Project Site
            </a>
            <a class="proj-link" href="#project-wardscore"></a>

            <div class="img" 
                 style="background-image:url('img/placeholder_base2.jpg');"></div>
          </li>
        
        <li class="proj" id="proj-mreader">
          <h2>mreader</h2>
          <p>
            unpacking HAL labs datfiles
          </p>

          <div class="detailed-description">
            <p>
            poop
            </p>  
          </div>

          <a class="repo-link" href="http://wardscore.loltools.net/">
            Project Site
          </a>
          <a class="proj-link" href="#project-mreader"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_cattail.jpg');"></div>
        </li>
        
        
        <li class="proj" id="proj-anchorage">
          <h2><i style='font-size: 0.8em' 
                 class="fa fa-anchor"></i>
              anchorage</h2>
          <p>
            widget based new tab page
          </p>
          <a class="proj-link" href="#project-anchorage"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_cream.jpg');"></div>
        </li>

        <li class="proj" id="proj-prism">
          <h2>prism</h2>
          <p>
            make a tty color scheme from img
          </p>
          <a class="proj-link" href="#project-prism"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_base2.jpg');"></div>
        </li>
        
        
        <li class="proj" id="proj-mizu">
          <h2>mizu</h2>
          <p>
            turn svgs into xgcm templates
          </p>
          <a class="proj-link" href="#project-mizu"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_archer.jpg');"></div>
        </li>
        
        <li class="proj" id="proj-gh-streak">
          <h2>gh-streak</h2>
          <p>
            react-native app to check github streak
          </p>
          <a class="proj-link" href="#project-gh-streak"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_base2.jpg');"></div>
        </li>
        
        <li class="proj" id="proj-libsweetparse">
          <h2>libsweetparse</h2>
          <p>
            minimal c library to parse t-exprs
          </p>
          <a class="proj-link" href="#project-libsweetparse"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_cream.jpg');"></div>
        </li>
        
        <li class="proj" id="proj-binscriptr">
          <h2>binscriptr</h2>
          <p>
            generic game script packer / unpacker
          </p>
          <a class="proj-link" href="#project-binscriptr"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_archer.jpg');"></div>
        </li>
        
        <li class="proj" id="proj-cdf-tools">
          <h2>cdf-tools</h2>
          <p>
            utils to help students in UofT cs
          </p>
          <a class="proj-link" href="#project-cdf-tools"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_cream.jpg');"></div>
        </li>
        
        <li class="proj" id="proj-mmorpg">
          <h2>mmorpg</h2>
          <p>
            simple cordova proof of concept app
          </p>
          <a class="proj-link" href="#project-mmorpg"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_cattail.jpg');"></div>
        </li>

        
        <li class="proj" id="proj-lintscreen">
          <h2>lintscreen</h2>
          <p>
            eslint filter to autofix syntax issues
          </p>
          <a class="proj-link" href="#project-lintscreen"></a>
          <div class="img" 
               style="background-image:url('img/placeholder_base2.jpg');"></div>
        </li>
      </ul>
  </div>

  <div id="resume">
      <h1>R&eacute;sum&eacute;</h1>
      <p>
        My resume is available in a number of formats.

        <nav class="link-list">
          <a href="assets/resume.pdf"><i class="fa fa-file-pdf-o"></i> pdf</a>
          <a href="assets/resume.txt"><i class="fa fa-file-text-o"></i> plain text</a>
          <a href="assets/resume.json"><i class="fa fa-file-code-o"></i> json</a>
        </nav>
      </p>
  </div>

  <div id="footer">
      </p>
      </p>
  </div>

  <script type="text/javascript" src="js/project-select.js"></script>
  <script type="text/javascript" src="js/scroll-control.js"></script>
</body>
</html>
